<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <H1>Registration Form</H1>
    <form action="/register" method="post" enctype="multipart/form-data">
        <label>Name:</label>
        <input type="text" name="name"><br><br>

        <label>Email:</label>
        <input type="email" name="email"><br><br>

        <label>Password:</label>
        <input type="password" name="password"><br><br>

        <label>Mobile:</label>
        <input type="text" name="mobile"><br><br>


        <label>Image:</label>
        <input type="file" name="image" multiple><br><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>